@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Bold.eot');
    src: url('NeutraText-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeutraText-Bold.woff2') format('woff2'),
        url('NeutraText-Bold.woff') format('woff'),
        url('NeutraText-Bold.ttf') format('truetype'),
        url('NeutraText-Bold.svg#NeutraText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

